<!DOCTYPE html>
<html>
	<head>
		<title>Passport-Local Example</title>
		<script type="text/javascript" src="javascripts/lib/ndollar.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		<script src="https://raw.github.com/sloisel/numeric/master/src/numeric.js"></script>
		<script src="https://raw.github.com/OscarGodson/jKey/master/jquery.jkey.js"></script>
		<script src="https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael-min.js"></script>
		<script type="text/javascript" src="javascripts/lib/json2.js"></script>
		<link href="stylesheets/stylesheet.css" media="all" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/account">Account</a> | 
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>
